h1 {
  font-family: Teko;
  font-size: 40px;
  text-align: center;
}

.execs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.exec-card {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.exec-card img {
  width: 110%;
  background-color: rgba(128, 128, 128, 0.617);
}

.exec-name {
  width: 100%;
  background-color: #1c6e8c;
  font-family: RobotoSlab;
  font-size: x-small;
  color: white;
  text-align: center;
  padding: 10px;
}

.sg,
.dsg,
.seniorexec,
.juniorexec,
.chair {
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.topics {
  background-color: #1c6e8c;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.topic {
  font-family: RobotoSlab;
  font-size: smaller;
  color: white;
  padding: 15px;
  text-align: center;
}

.commission-title {
  font-family: Teko;
  font-size: xx-large;
  color: white;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 70px;
  }

  .topic {
    font-size: larger;
  }

  .commission-title {
    font-size: 50px;
  }

  .exec-card {
    width: 300px;
  }

  .exec-card img {
    width: 320px;
    height: 435px;
    object-fit: scale-down;
  }

  .exec-name {
    font-size: larger;
  }

  .execs-container .exec-card {
    width: 400px;
  }

  .execs-container .exec-card img {
    width: 420px;
  }

  .execs-container .exec-card .exec-name {
    font-size: larger;
  }

  .juniorexec {
    padding-left: 70px;
    padding-right: 70px;
  }
}
