.acamun-title-section {
  background-image: url(../images/ACAMUN-BG.png);
  background-size: cover;
  background-position: center;
}

.acamun-title-section .acamun-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.acamun-title-section h1 {
  margin-bottom: 0;
  font-size: 60px;
  font-family: Teko-Bold;
}

.acamun-title-section .timer {
  color: #1c6e8c;
  font-family: Teko;
  font-size: xx-large;
  margin: 0 0 20px 0;
}

.mission-statement p {
  color: #1c6e8c;
  text-align: center;
  padding: 25px;
  font-size: 25px;
  font-family: RobotoSlab;
}

.mission-statement h1 {
  text-align: center;
  margin: 0;
  font-size: 70px;
  font-family: Teko;
}

@media screen and (min-width: 1024px) {
  .acamun-title-section h1 {
    font-size: 100px;
  }

  .acamun-title-section .timer {
    font-size: 75px;
  }
}
