.acamun-title-section {
  background-image: url(../images/ACAMUN-BG.png);
  background-size: cover;
  background-position: center;
}

.acamun-title-section .acamun-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.acamun-title-section h1 {
  margin-bottom: 0;
  font-size: 60px;
  font-family: Teko-Bold;
}

.acamun-title-section .date {
  margin-bottom: 0;
  margin-top: 0;
  color: #e2a813;
  font-family: Teko;
  font-size: xx-large;
}

.acamun-title-section .timer {
  color: #1c6e8c;
  font-family: Teko;
  font-size: xx-large;
  margin: 0 0 20px 0;
}

.mission-statement p {
  color: #1c6e8c;
  text-align: center;
  padding: 20px;
  font-size: large;
  font-family: RobotoSlab;
}

.mission-statement h1 {
  text-align: center;
  margin: 0;
  font-size: 70px;
  font-family: Teko;
}
